
<div id="UserCounts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>

    Highcharts.chart('UserCounts', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'User Counts'
    },
    subtitle: {
        text: 'Summary of messages posted per user'
    },
    xAxis: {
        categories: [""],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Messages Sent'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{data.data}}
});

</script>